@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a link to test ResourceAuthorize</h2>
<ul>
    <li>@Html.ActionLink("Authorized", "Authorized", "Home")</li>
    <li>@Html.ActionLink("Not Authorized", "Denied", "Home")</li>
</ul>